<div class="container" id="div0" style="position : relative;">
  <div id="div1" style="position : relative; margin : 2%; height : 457.5px">
    <button class="btn btn-primary" id="button1" style="top : 217.52px; left : 154.39px;  position : absolute;">Button</button>
    <input class="form-control" id="textbox1" name="textbox1" style="top : 99.97px; left : 154.39px;  position : absolute; width : 20%;" type="text">
    <select class="form-control" id="dropdown1" style="top : 77.14px; left : 340.46px;  position : absolute; width : 20%;">
      <option value="Dropdown">Dropdown</option>
    </select>
    <input class="form-control" id="textbox2" name="textbox2" style="top : 168.86px; left : 154.39px;  position : absolute; width : 20%;" type="text">
    <select class="form-control" id="dropdown2" style="top : 149.35px; left : 340.46px;  position : absolute; width : 20%;">
      <option value="Dropdown">Dropdown</option>
    </select>
    <input class="form-control" id="textbox3" name="textbox3" style="top : 21.64px; left : 197.23px;  position : absolute; width : 20%;" type="text">
    <label class=" " id="label1" style="top : 168.86px; left : 51.13px;  position : absolute; width : 44.42px;">Label</label>
    <label class=" " id="label2" style="top : 99.97px; left : 51.13px;  position : absolute; width : 55.92px;">Label</label>
    <label class=" " id="label3" style="top : 43.42px; left : 51.13px;  position : absolute; width : 98.1px;">Label</label>
  </div>
</div>